.header-text{
    color: #171717
}

.text{
    color: #17171790;

}

.formbg{
    background-color: #EAEAEA;
}

.primary-bg{
    background-color: #2A29FF;
}
.priamry-text{
    color: #2A29FF
}

.primary-bg:hover{
    background-color: #2A29AA;
}


/* Default Styles */
.container {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 80px;
    margin: auto;
}

.root-container {
    padding-right: 90px;
    padding-left: 180px;
}

/* Tablet (924px - 1924px) */
@media (max-width: 1924px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .root-container {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 924px) {
    .container {
        padding-left: 20px;
        padding-right: 0px;
    }

    .root-container {
        padding-left: 10px;
        padding-right: 0px
    }
}

/* Mobile (0px - 767px) */
@media (max-width: 767px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .root-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}